.sidebar_container__position{
    position: absolute;
    left: 10px;
}

.clearBtn {
    padding: 5px;
    border-radius: 5px;
    color: #f64c72;
}

@media (max-width: 321px) {
    .sidebar_container{
        display: none;
    }
    .sidebar_container__position{
        display: none;
    }
}

@media (max-width: 376px) {
    .sidebar_container{
        display: none;
    }
    .sidebar_container__position{
        display: none;
    }
}

@media (max-width: 426px) {
    .sidebar_container{
        display: none;
    }
    .sidebar_container__position{
        display: none;
    }
}