.header_container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    background: #242582;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px darkgray;
    position: relative;
}

.header_container a {
    color: inherit;
    letter-spacing: 2px;
    transition: all 0.3s linear;
}

.header_container a:hover {
    color: #99738e;
}

.block_links {
    position: absolute;
    right: 5%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cart_counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -20px;
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;

}

.cart_container {
    position: relative;
    color: aliceblue;
}

.link_name {
    letter-spacing: 1px;
    transition: all 0.3s linear;
    position: relative;
}

.block_name {
    cursor: pointer;
    position: relative;
}

.block_name:hover {
    color: #99738e;
}

.block_name:hover .triangle_icon {
    transform: rotate(-180deg);
}

.triangle_icon {
    width: 0;
    height: 0;
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid aliceblue;
    transition: all 0.3s ease 0s;
    position: absolute;
    right: -20px;
    top: 5px;
}

.drop_menu {
    min-width: 100px;
    color: aliceblue;
    text-align: left;
    display: none;
    position: absolute;
}

.block_name:hover .drop_menu {
    display: block;
}

.drop_menu li {
    background-color: #99738e;
    padding: 5px 10px;
}

.drop_menu li:hover, .drop_menu a:hover {
    color: #bac3cb;
}

.drop_menu li:first-child {
    margin-top: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.drop_menu li:last-child {
    margin-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mobile_menu {
    display: none;
}

.mobile_menu__list {
    width: 100px;
    max-height: 100px;
    display: none;
    background-color: #99738e;
    padding: 15px 0 5px;
    color: aliceblue;
    border-radius: 5px;
}

.mobile_menu__list li {
    margin-bottom: 10px;
}

.mobile_menu__list a{
    color: aliceblue;
}

@media (max-width: 426px) {
    .block_links {
        display: none;
    }

    .mobile_menu {
        display: block;
        position: absolute;
        right: 1rem;
    }

    .mobile_menu__list{
        display: block;
        position: absolute;
        right: 0;
        z-index: 1;
    }
}

