.form_title {
    margin-top: 10px;
    color: aliceblue;
    letter-spacing: 5px;
}

label {
    align-self: flex-start;
    font-size: 18px;
    color: aliceblue;
}

.btn_login_form {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2f2fa2;
    color: aliceblue;
    font-size: 18px;
    transition: all 0.3s linear;
}

.btn_login_form:hover {
    background-color: aliceblue;
    color: #2f2fa2;
}

.wrapper_link {
    color: aliceblue;
    font-size: 18px;
}

.link {
    color: blue;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

@media (max-width: 321px) {
    .form_title {
        font-size: 18px;
    }
}

@media (max-width: 376px) {
    .form_title {
        font-size: 18px;
    }
}